---
import type { UI, Language } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utilis";

const valori = [
  {
    titoloKey: "experienceTitle",
    testoKey: "experienceText",
  },
  {
    titoloKey: "innovationTitle",
    testoKey: "innovationText",
  },
  {
    titoloKey: "transparencyTitle",
    testoKey: "transparencyText",
  },
];

const ui: UI = {
  it: {
    experienceTitle: "Esperienza",
    experienceText:
      "Con anni di conoscenza del mercato immobiliare e una vasta rete di contatti, siamo in grado di offrire soluzioni personalizzate e risultati eccezionali ai nostri clienti...",
    innovationTitle: "Innovazione",
    innovationText:
      "Siamo sempre alla ricerca di nuove soluzioni e opportunità per migliorare il processo di acquisto o vendita immobiliare...",
    transparencyTitle: "Trasparenza",
    transparencyText:
      "La trasparenza è fondamentale per noi. Siamo orgogliosi di offrire ai nostri clienti un servizio trasparente e onesto...",
  },
  en: {
    experienceTitle: "Experience",
    experienceText:
      "With years of real estate market knowledge and a wide network of contacts, we are able to offer personalized solutions and exceptional results to our clients...",
    innovationTitle: "Innovation",
    innovationText:
      "We are always looking for new solutions and opportunities to improve the real estate buying or selling process...",
    transparencyTitle: "Transparency",
    transparencyText:
      "Transparency is fundamental for us. We are proud to offer our clients a transparent and honest service...",
  },
};

interface Props {
  lang: Language;
}
const { lang = "it" } = Astro.props;
const t = useTranslations(lang, ui);
---

<div class="flex flex-col p-10 md:px-20">
  <span class="sotto-titolo">{t("ourValuesTitle")}</span>

  <span class="text-justify">
    {t("ourValuesDescription")}
  </span>

  <div class="mt-2">
    <div class="gap-15 flex overflow-x-auto">
      {
        valori.map((valore) => (
          <div class="m-1 inline-flex min-w-[250px] flex-col rounded bg-slate-300 p-5 py-8 text-justify drop-shadow md:max-w-[300px]">
            <span class="mb-2 font-poppins text-lg">{t(valore.titoloKey)}</span>
            <span>{t(valore.testoKey)}</span>
          </div>
        ))
      }
    </div>
  </div>
</div>
