---
import type { UI, Language } from "../../i18n/ui";
import { useTranslations } from "../../i18n/utilis";

const processi = [
  "preliminaryAndAcquaintance",
  "documentVerification",
  "organizational",
  "marketing",
  "operational",
  "finalStage"
];

const ui: UI = {
  it: {
    subtitle: "Il nostro processo di vendita",
    description:
      "Il processo di vendita immobiliare consiste in alcuni passaggi fondamentali...",
    preliminaryAndAcquaintance: "Preliminare e Conoscitiva",
    documentVerification: "Verifica dei documenti",
    organizational: "Organizzativa",
    marketing: "Marketing",
    operational: "Operativa",
    finalStage: "Finale"
  },
  en: {
    subtitle: "Our Sales Process",
    description: "The real estate sales process involves several key steps...",
    preliminaryAndAcquaintance: "Preliminary and Acquaintance",
    documentVerification: "Document Verification",
    organizational: "Organizational",
    marketing: "Marketing",
    operational: "Operational",
    finalStage: "Final Stage"
  }
};

interface Props {
  lang: Language;
}
const { lang = "it" } = Astro.props;
const t = useTranslations(lang, ui);
---

<div class="flex flex-col p-10 md:px-20">
  <span class="sotto-titolo">{t("subtitle")}</span>
  <p class="mb-5">
    {t("description")}
  </p>
  <div class="flex flex-wrap">
    <div class="md:min-w-[50%] md:max-w-[50%]">
      {
        processi.map((processo, indx) => (
          <div class="flex items-center py-2">
            <span
              class="mr-5  min-h-[40px] w-[40px]  items-center justify-center rounded-full bg-primario p-2 text-center align-middle text-white ">
              {indx + 1}
            </span>
            <span class="text-md flex-grow basis-0 font-medium">
              La fase: {t(processo)}
            </span>
          </div>
        ))
      }
    </div>

    <div
      id="iframe-container"
      class="relative aspect-video w-full min-w-[40%] md:ml-10 md:max-w-[20%]"
    >
    </div>
  </div>
</div>

<script>
  window.onload = () => {
    const iframeContainer = document.getElementById("iframe-container");

    if (iframeContainer) {
      iframeContainer.innerHTML = `
        <iframe
          class="absolute top-0 bottom-0 aspect-video h-full w-full"
          width="560"
          height="315"
          src="https://www.youtube-nocookie.com/embed/dZ1bpE53OSw"
          title="Marco e il suo processo di vendita"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
          allowfullscreen>
        </iframe>
      `;
    }
  };
</script>
