---
import ListaImmobili from "../../componenti/immobili/lista-immobili.svelte";

const url = "https://privato.gruppoedoardo.it/wp-json/immobili/vetrina";
---

<div class="flex flex-col p-10 md:px-20">
  <span class="sotto-titolo">La nostra vetrina</span>
  <div>
    <ListaImmobili client:visible urlImmobili={url} />
  </div>
</div>
