---
import ContattiInteressati from "../../componenti/forms/contatti-interessati.svelte";


---

<div class="flex flex-col p-10 md:px-20">
  <span class="sotto-titolo">Affidaci casa tua!</span>
  <span class="text-justify">
    Affidare la propria casa a noi significa scegliere un team di professionisti esperti e dedicati.
    La nostra lunga esperienza nel settore immobiliare ci permette di offrire soluzioni
    personalizzate e innovative per soddisfare le esigenze di ogni cliente. La trasparenza e
    l'umanità sono al centro del nostro approccio, garantendo un'esperienza di vendita o acquisto
    immobiliare senza stress e al massimo livello di soddisfazione. Scegliendo di lavorare con noi,
    potrete stare certi di aver fatto una scelta eccellente per la vostra casa e il vostro futuro.
  </span>
  <div class="lg:max-w-[40%] mt-5">
    <ContattiInteressati client:visible />
  </div>
</div>
