---
import LogoEstesoBianco from "./logo/logo-esteso-bianco.astro";
---

<div
  class="flex w-full flex-col items-center justify-center gap-7 bg-primario p-14 text-center align-middle text-white"
>
  <div class="h-full w-[150px]">
    <LogoEstesoBianco />
  </div>

  <span class="text-xs text-slate-300">
    edoArdo S.r.l.s. a socio unicoCorso
    <br />
    Alicide De Gasperi n. 58 C 10129 Torino
    <br />
    CF e P.Iva 11903980016Capitale Sociale € 1.000,00 int. Vers. CCIAA
    <br />
    Torino REA 1249853
  </span>

  <span class="text-[9px]">Creato con il ❤️ da Edoardo Balzano</span>
</div>
