---
const processi: string[] = ["Preliminare e Conoscitiva", "Verifica dei documenti", "Organizzativa", "Marketing", "Operativa", "Finale"];
---

<div class="flex flex-col p-10 md:px-20">
  <span class="sotto-titolo">Il nostro processo di vendita</span>
  <p class="mb-5">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto iste eaque quasi, sequi consequuntur corrupti cum placeat iure quisquam. A officia tempore ipsam excepturi amet quasi voluptate eaque tenetur quas.
    Tenetur accusantium repellendus sit? Cum omnis repellendus, commodi debitis ut consectetur fugit, non laborum, dolorem dignissimos molestias. Excepturi ut cupiditate error nisi provident laudantium sed deleniti, placeat, odio praesentium atque!
  </p>
  <div class="flex flex-wrap">
    <div class="md:max-w-[50%] md:min-w-[50%]">
      {
        processi.map((processo, indx) => (
          <div class="flex items-center py-2">
            <span class="bg-primario  mr-5 min-h-[40px]  w-[40px] items-center justify-center rounded-full p-2 text-center align-middle text-white ">
              {indx + 1}
            </span>
            <span class="flex-grow basis-0 text-md font-medium">La fase: {processo}</span>
          </div>
        ))
      }
    </div>

    <div class="relative aspect-video w-full md:max-w-[20%] min-w-[40%] md:ml-10">
      <iframe
        class="absolute top-0 bottom-0 aspect-video h-full w-full"
        width="560"
        height="315"
        src="https://www.youtube-nocookie.com/embed/dZ1bpE53OSw"
        title="Marco e il suo processo di vendita"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
  </div>
</div>
