---
import Footer from "../componenti/footer.astro";
import Navbar from "../componenti/navbar/navbar.astro";
import Layout from "./Layout.astro";

export interface Props {
  title: string;
  descrizione?: string;
}

const { title, descrizione } = Astro.props.frontmatter || Astro.props;
---

<Layout title={title} descrizione={descrizione}>
  <Navbar />
  <div class="prose prose-slate w-[80%] p-10 md:p-5">
    <slot />
  </div>
  <Footer />
</Layout>
