---
import LogoEsteso from "../logo/logo-esteso.astro";
import MenuTel from "./menu-tel.svelte";
import NavPc from "./nav-pc.astro";
import type { ElementiMenu } from "../../types/elementiMenu";
import type { Language } from "../../i18n/ui";
import { getAbsoluteLocaleUrl } from "astro:i18n";
import LanguagePicker from "../LanguagePicker.astro";

const elementiMenu: ElementiMenu = [];
interface Props {
  lang: Language;
}

const { lang = "it" } = Astro.props;

function generateMenu() {
  for (let [key, val] of Object.entries(ui[lang])) {
    console.log(key, val);
    elementiMenu.push({
      nome: val,
      link: getAbsoluteLocaleUrl(lang, modelLink(val == "Home" ? "" : val)),
    });
  }
}

function modelLink(s: string): string {
  return s.replaceAll(" ", "-").toLowerCase();
}

const ui: { [lang: string]: object } = {
  it: {
    home: "Home",
    contacts: "Contatti",
    team: "Il Team",
    workWithUs: "Lavora con noi",
    ourProposals: "Le nostre proposte",
  },
  en: {
    home: "Home",
    contacts: "Contacts",
    team: "Our team",
    workWithUs: "Work with us",
    ourProposals: "Our proposal",
  },
};

generateMenu();
---

<div
  class="font-s sans fixed top-0 z-20 flex h-20 w-full items-center gap-5 border bg-white py-3 px-10 align-middle drop-shadow md:px-20"
>
  <a class="flex h-full w-32 align-middle" href="/">
    <LogoEsteso />
  </a>

  <LanguagePicker />
  <div class="ml-auto hidden h-full items-center md:flex">
    <NavPc elementiMenu={elementiMenu} />
  </div>
  <div class="ml-auto md:hidden">
    <MenuTel client:load elementiMenu={elementiMenu} />
  </div>
</div>

<div class="pb-20"></div>

<!-- create a div with red bg and 20px height -->
